nav{
    background-color: #abd6da;
    font-size: 1.3rem;
}
.logo{
    padding-top: 6rem;
    background-image: url(black-on-white_2.jpg);
    height:400px;
    background-size: cover;
    text-align: center;
}
.logo>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 254, 254);
    font-style: italic;/*курсив*/
    font-size: 4.5rem;
   
}

.left-text{
    background-color: #a6d2d5;
    padding: 2rem;
    font-family: 'Yeseva One', cursive;
}
.coladge{
    background-image: url(collage.jpg);
    background-size: cover;
    padding: 3rem;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.coladge>blockquote{
    background-color: rgba(255, 255, 255, 0.712) ;
}
.row-3{
    background-image: url(phone-3.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
}
.left{
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 10rem;
    font-family: 'Yeseva One', cursive;
}
.right{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.right>ul>li{
    color: black;
    font-size: 1.3rem;
}
.row-4{
    background-color: #a6d2d5;
}

.big-fon{
    background-image: url(forest.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
}

.lorem{
    margin: 50px 0;
    background-color: rgba(255, 255, 255, 0.578);
}
.black-fon{
    background-color: black;
    color: wheat;
    padding: 50px 0;
    
}