.main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.menu-wrap {
    margin: 0 30px;
    flex-grow: 1;
}
.card {
    flex-grow: 10;
    margin: 0 20px;
}
.menu{
    box-shadow: 0px 0px 5px var(--text-color);
    border-radius: 8px;
    padding: 8px;
}
.menu-item {
    margin: 10px 0;
    padding: 10px;
}
.menu-item.active{
    border: var(--text-color) solid 3px;
    border-radius: 4px;
}
.menu-item a {
    color: rgb(255, 0, 43);
    text-decoration: none !important;
}
.info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background: none;
    padding: 35px;
    color: var(--text-color);
    border-radius: 25px;
    backdrop-filter: blur(50px);
    /* border: var(--text-color) solid 4px; */
    /* я поміняла рамку на тінь, хочеш - верни назад */
    box-shadow: 0px 0px 5px var(--text-color);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
