body{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    margin: 0 10%;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-list{
    display: flex;
    list-style-type: none;
}
.menu-item{
    margin-left: 15px;
}
.contact-us{
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 0 15px;
    color: white;
    background-color: #2E6EFF;
}
.top-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.big-text{
    width: 300px;
    flex-grow: 1;
    padding-right: 100px;
}
.big-text h1{
    font-size: 2rem;
}
.big-photo{
    width:300px;
    flex-grow: 1;
}
.big-photo img{
    width: 100%;
}
.partners{
    text-align: center;
    margin-bottom: 100px;
}
.partners-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.popular{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.popular-items{
    width: 250px;
    margin: 30px;
    box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.7);
border-radius: 10px;
}
.popular-items img{
    width: 100%;
}
.popular-items h3{
    margin-left: 15px;
}