.header{
    text-align: center;
}
.cotainer-fluid {
   color: aliceblue;
}
.container-fluid-2{
    color: aliceblue;
}
body{
    background-color: black;
    background-size: cover;
}
.footer-col{
    color: aliceblue;
    text-align: center;
    border-left: 1px solid black;
}
div[class *= 'col']{
    padding-bottom: 20px;
}
h3{
    font-size: 20px;
    color: darkgray;
}
.card:hover {
    box-shadow: 0px 0px 20px green;
    transform:scale(1.1);
    }
    .card{
        transition: 0.8s;
        }
        
h1{
    color: aliceblue;
}