*{
    box-sizing: border-box;
}
.container{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    margin-top: 40px;
    padding-left: 10%;
}
.position{
    display: flex;
    flex-wrap: wrap;
}
.first .text{
    padding-left:10% ;
    padding-top: 50px;

}
.second .text{
    padding-left: 20px;
    padding-top: 0px;
}
.text, .foto{
    width: 350px;
    flex-grow: 1;
}
.button{
    width: 200px;
    text-align: center;
    background-color: rgb(255, 115, 0);
    border: 0;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: 900;
    box-shadow: 0 2px 20px  rgb(255, 115, 0);
    margin-top: 10px;
    margin-bottom: 30px;
}
.button:hover{
    box-shadow: 0 2px 10px  black; 
}
.button:active{
    box-shadow: 0 2px 20px rgb(255, 115, 0);
    text-decoration: underline;
}

.second>h2{

    text-align: center;
}
.third{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    background: url(background.png);
    border-top: 4px solid rgb(255, 115, 0);
    border-bottom: 4px solid rgb(255, 115, 0);
    margin-bottom: 10px;
}